# .dockerignore

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next

# Version control
.git
.github

# Documentation
*.md

# Environment files (with exceptions for examples)
.env
.env.local
!.env.example
!.env.local.example

# Other
extras
.DS_Store
.vscode 