.now/*
*.css
.changeset
dist
esm/*
public/*
tests/*
scripts/*
*.config.js
.DS_Store
node_modules
coverage
.next
build
!.commitlintrc.cjs
!.lintstagedrc.cjs
!jest.config.js
!plopfile.js
!react-shim.js
!tsup.config.ts

# GitHub workflows and templates
.github/

# Documentation
docs/

# Specific config files that don't need linting
.dockerignore
.env*
!.env.example
!.env.local.example
LICENSE
*.md
*.json

# Ignore all files in the extras directory
extras/